:root {
    --black: #000000;
    --gray-nav: #EEEEEE;
    --extra-dark: #283136;
    --red: #FB565A;
    --gray: #A6A6A6;
    --green: #00CA74;
    --yellow: #EFC849;
    --extra-gray: #444444;
    --basic-white: #FFFFFF;

    --special:rgba(255,255,255, 0.3);
    --special-black: rgba(0, 1, 1, 0.1);

}

body {
  background-color: var(--basic-white);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img{
  height: auto;
  max-width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  background-color: var(--red);
}

.btn:active {
  background-color: var(--special);
  box-shadow: inset 0px 3px 0px var(--special-black);
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--black);
  align-items: center;
}

.main-header-logo {
  display: block;
  width: 160px;
}

.main-header {
  background-color: var(--gray-nav);
}

.site-navigation-list li {
  margin: 0 22px;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 20px;

}

.nav-basket {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 150px;
  padding-left: 40px;
  list-style-type: none;
}

.nav-basket a:hover {
  color: var(--special);
}

.features {
  margin-bottom: 40px;
  background-color: var(--gray-nav);
}

.features-title {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
}

.services-title {
  display: none;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  width: 300px;
  padding-right: 100px;
}

.services-item p {
  display: flex;
  align-items: center;
}

.services-item:nth-child(3n) {
  padding-right: 60px;
}

.services-item-title {
  color: var(--black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.services-item-green  {
  background-color: var(--green);
}

.services-item-yellow {
  background-color: var(--yellow);
}

.main-title {
  display: none;
}

.about {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-info {
  padding-right: 140px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.sup-title {
  font-weight: 700;
}

.about-data {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
.about-row {
  font-size: 16px;
  line-height: 18px;
}

.companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.companies-link img {
  opacity: 0.2;
}

.companies-link:hover img {
  opacity: 1;
}

.companies-link:active img {
  opacity: 0.1;
}

.companies-title {
  display: none;
}

.contacts {
  line-height: 18px;
  margin-bottom: 35px;
}

.footer-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-phone {
  color: inherit;
}

.basket {
  font-weight: 500;
  line-height: 18px;
}

.map {
  width: 100%;
  height: 416px;
}

.footer-social-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  margin: 0 20px;
}

.social-button {
  display: block;
  width: 81px;
  height: 81px;
  background: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-button-vk {
  background-image: url(../img/vk-icon.svg);
}

.social-button-fb {
  background-image: url(../img/fb-icon.svg);
}

.social-button-insta {
  background-image: url(../img/insta-icon.svg);
}

.social-button:hover {
  background-color: var(--red);
}

.social-button:active {
  opacity: 0.1;
}

.social-button li {
  margin: 0 10px;
}

.footer-text {
  padding-left: 140px;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-paragraph {
  line-height: 22px;
}

.site-navigation-list .active {
  border-bottom: var(--black);
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-left: 357px;
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 0 140px;
}

.catalog-filter-title {
  display: none;
}

.catalog-filter {
  grid-row: 1/3;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.catalog-filter-group {
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-list {
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-checkbox-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-radio-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--extra-gray);
}

.sort-item {
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.sort-order-links {
  margin: 0;
  padding: 0;
  color: var(--black);
}

.sort-link-asc {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--black);
}

.sort-link-desc {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--gray);
}

.catalog-filter-btn {
  color: var(--black);
  background: var(--gray-nav);
}

.catalog-sort {
  display: flex;
  flex-wrap: wrap;
  color: var(--black);
  list-style-type: none;
}

.catalog-sort-caption {
  color: var(--black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

 .catalog-sort-list {
   display: flex;
   flex-wrap: wrap;
   color: var(--black);
   list-style: none;
  }

.catalog-sort-list li {
   margin: 0 10px;
   padding: 0 10px;
 }

.sort-order-links {
  display: flex;
  color: var(--black);
}

.sort-order-links li {
margin: 0 10px;
padding: 0 20px;
}

.catalog-title {
  display: none;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0px;
  padding: 0px;
  grid-column-start: 2;
  width: 560px;
  list-style: none;
  margin-left: 60px;
}

.catalog-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.paginate {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: var(--black);
  background-color: var(--gray-nav);
}

.paginate li {
  color: var(--black);
  margin: 0 10px;
  padding: 0 10px;
}

.catalog-info {
  line-height: 18px;
}

.catalog-filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}


