title{
    font-family: 'Roboto Slab', 'A' serif;
}

:root {
    --basic-black: rgba(0, 0, 0, 1);
    --basic-white:#EEEEEE;
    --basic-extra-dark: rgba(40, 49, 54, 1);
    --basic-red: rgba(251, 86, 90, 1);
    --basic-gray: rgba(166, 166, 166, 1);
    --basic-geen: rgba(0, 202, 116, 1);
    --basic-yellow: rgba(239, 200, 73, 1);
    --basic--white: rgba(68, 68, 68, 1);
    --basic-extra-white: rgba(193, 193, 193, 1);

}

body {
  width: 1440px;
  height: 2476px;
  background-color:var(--basic-white);
  font-family: 'Roboto Slab','Arial' serif;
  color:var(--basic-black);
}

a {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 16px;
}

a:hover
a:focus{
  background-color: var(--basic-extra-white);
}

img {
  max-width: 100%;
  height: auto;}

p {
  font: Roboto;
  color:var(--basic-black);
  font-size: 16px;
  line-height: 24px;
}
h3 {
  font: Roboto;
  color:var(--basic-black);
  font-size: 16px;
  line-height: 24px;
}
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color:var(--basic-gray);
  background-color: transparent;
}

.site-navigation {
  color:var(--basic-black);
  font-weight: 500;
  fomain-headernt-size: 16px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
  margin:0; 
  padding:0;
  }

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus
  {color: var(--basic-gray);
}
.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.site-navigation {
  list-style: none;
}
.contacts-phone {
  color: inherit;
}
.basket{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.social-button {
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}
.social-button:hover
.social-button:focus {
  background-color: var(--basic-extra-white);
}
.services-list{
  width: 81px;
  height: 81px;
  margin:0; 
  padding:0;
  color:var(--basic-black); }

.about-list{
  width: 81px;
  height: 81px;
  margin:0; 
  padding:0;
  color:var(--basic-black);
}

.footer-social-list{
  width: 12px;
  height: 21px;
  margin:0; 
  padding:0;
  color:var(--basic-black);
}
