:root {
    --black: #000000;
    --white-nav: #EEEEEE;
    --extra-dark: rgba(40, 49, 54, 1);
    --red: #FB565A;
    --gray: #A6A6A6;
    --green: #00CA74;
    --yellow: #EFC849;
    --extra-gray: rgba(68, 68, 68, 1);
    --basic-white: #FFFFFF;
}

body {
  background-color: var(--basic-white);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  background-color: var(--red);
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr min-content;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--white-nav);
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: var(--black);
}

.main-header-bar {
  background-color: var(--white-nav);
}

.main-header {
  margin-bottom: 545px;

.main-header-logo {
  justify-self: streth;
}

.site-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-basket {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features-title {
  font-size: 55px;
  line-height: 55px;
}

.services-title {
  display: none;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: nth-child(3n);
}

.services-item-title {
  color: var(--black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.services-item-green {
  background-color: var(--green);
}

.services-item-yellow {
  background-color: var(--yellow);
}

.main-title {
display: none;
}

.about {
  display: grid;
  grid-template-columns: 75% 25%;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.sup-title {
  font-weight: 700;
}

.about-data {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
.about-row {
  font-size: 16px;
  line-height: 18px;
}

.companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.companies-link: img {
  opacity: 0.2;
}

.companies-link:hover img {
  opacity: 1;
}

.companies-link:active img {
  opacity: 0.1;
}

.companies-title {
  display: none;
}

.contacts {
  line-height: 18px;
}

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-phone {
  color: inherit;
}

.basket {
  font-weight: 500;
  line-height: 18px;
}

.map {
  width: 100%;
  height: 416px;
}

.footer-grid {
  display: grid;
  grid-template-columns: min-content 1fr;

}

.social-button-list {
  background: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
}
.social-button-vk {
  background-image: url(../img/vk-icon.svg);
}

.social-button-fb {
  background-image: url(../img/fb-icon.svg);
}

.social-button-insta {
  background-image: url(../img/insta-icon.svg);
}

.social-button:hover {
  background-color: var(--red);
}

.social-button:active {
 opacity: 0.1;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-paragraph {
  line-height: 22px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 727px;
  margin-left: 357px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
}

.catalog-filter-title {
 display: none;
}

.catalog-filter {
  display: grid;
  grid-row: 1 / 1;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}

.catalog-filter-grop {
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.catalog-filter-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-radio-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin:0;
  padding:0;
  list-style-type: none;
  color: var(--extra-gray);
}

.sort-item {
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.sort-list-link {
  margin: 0;
  padding: 0;
  color: var(--black);
}

.sort-link-asc {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--black);
}

.sort-link-descn {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--gray);
}

.catalog-filter-btn {
  color: var(--black);
  background: var(--white-nav);
}

.catalog-sort-caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.sort-order-link {
  color: var(--black);
}

.catalog {
  margin-left: 60px;
}
.catalog-title {
  display: none;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: grid;
  margin: 0;
  padding: 0;
  float: right;
}

.catalog-info {
  line-height: 18px;
}

.button {
  list-style-type: none;
  color: var(--black);
}


